@import './../../node_modules/normalize.scss/normalize';
@import 'const';
@import 'mixins';

// layout
html,
body {
  min-height: 100vh;
  @include flex-column();
}

app-root {
  @include flex-column();
  @include flex-grow();
  background-color: #f6f6f6;

  .app-root {
    @include flex();
    @include flex-grow();
    @include flex-align-center();

    .container {
      @include flex-column();

      card-slider {
        margin-top: 100px;
      }
    }
  }
}
